@{ 
    ViewData["Title"] = "Database Page";
    Layout = "_Layout"; 
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Tickets</h1>
</div>


<div class="row">
    <div class="col">
        <table id="ticketTable" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>NO</th>
                    <th>PROBLEM</th>
                    <th>NAME</th>
                    <th>PRIORITY</th>
                    <th>STATUS</th>
                    <th>ACTION</th>
                </tr>
            </thead>
        </table>

        @*Modal Escalation*@
        <div class="modal fade" id="modalEscalation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ticket Problem Clear</h5>
                        <button type="button" class="close" onclick="closeEscalationModal()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            Apakah Tiket dengan ID=
                            <span id="escalationTicket"></span>
                            Sudah Terselesaikan?
                        </div>
                    </div>
                    <div class="modal-footer" id="ticketData">
                        <button type="button" class="btn btn-secondary" onclick="closeEscalationModal()">Cancel</button>
                        <button type="submit" class="btn btn-success">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
        @section Scripts {
            <script type="text/javascript" src="~/js/database_engineer.js"></script>
        }
