@{
    ViewData["Title"] = "Message";
    Layout = "_Layout";
}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">MessageDetail</h1>
@*    <button class="btn btn-success" data-toggle="modal" data-target="#modalCreateTicket"><i class="fa fa-plus pr-2"></i>Create Ticket</button>
*@</div>
<div class="row">
    <details id="detailTicket">
        <summary>Ticket Details</summary>
        <br>Nama User: <span id="userfullname"></span>
        <br>ID Ticket: <span id="idTicket"></span>
        <br>Detail Problem: <span id="message"></span>
        <br>Create Date: <span id="createAt"></span>
        <br>Priority: <span id="priority"></span>
        <br>Status: <span id="status"></span>
        <br>Category: <span id="category"></span>
    </details>
</div>
<div id="categoryId">

</div>
<div class="row">
    <div class="col">
        <form id="formTicket" class="needs-validation" novalidate>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="message"></label>
                    <textarea class="form-control" id="messageText" rows="3" required></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="closeTicketModal()">Cancel</button>
                <button type="submit" class="btn btn-primary">Send</button>
            </div>
        </form>
    </div>
</div>

<!-- Modal Create Ticket -->
<div class="modal fade" id="modalCreateTicket" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Message</h5>
                <button type="button" class="close" onclick="closeTicketModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form id="formTicket" class="needs-validation" novalidate>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="message">Message</label>
                                <textarea class="form-control" id="messageText" rows="3" required></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" onclick="closeTicketModal()">Cancel</button>
                            <button type="submit" class="btn btn-primary">Send</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>



@section Scripts {
    <script type="text/javascript" src="~/js/detail_message.js"></script>
}

