@{
    ViewData["Title"] = "Registration";
    Layout = "_Layout_Auth";
}


<div class="row justify-content-center d-flex align-items-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-login-image">

                    </div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-left mb-4">
                                <h1 class="h4 text-gray-900">Sign up.</h1>
                                <small>Give us some of your information to get free access to help desk.</small>
                            </div>
                            <form class="needs-validation" id="formRegistration" method="post" novalidate>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" id="firstName" class="form-control form-control-user"
                                               placeholder="First Name" pattern="\b([A-ZÀ-ÿ][-,a-z. ']+[ ]*)+" required>
                                        <div class="invalid-feedback">
                                            First name is required
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" id="lastName" class="form-control form-control-user"
                                               placeholder="Last Name" pattern="\b([A-ZÀ-ÿ][-,a-z. ']+[ ]*)+" required>
                                        <div class="invalid-feedback">
                                            Last name is required
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" name="Phone" id="phone" class="form-control form-control-user"
                                               placeholder="Phone Number" pattern="\+?([ -]?\d+)+|\(\d+\)([ -]\d+)" required>
                                        <div class="invalid-feedback">
                                            Enter a valid phone
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-check mt-2 form-check-inline">
                                            <input class="form-check-input" type="radio" name="gender" id="gender-female" value="0" checked>
                                            <label class="form-check-label" for="inlineRadio1">Female</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="gender" id="gender-male" value="1">
                                            <label class="form-check-label" for="inlineRadio2">Male</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="email" name="Email" class="form-control form-control-user" id="email"
                                           placeholder="Email" required>
                                    <div class="invalid-feedback">
                                        Enter a valid email
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="password" name="Password" class="form-control form-control-user"
                                           id="password" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" placeholder="Password" required>
                                    <div class="invalid-feedback">
                                        Enter minimum six characters, at least one letter and one number
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    REGISTER
                                </button>

                            </form>
                            <hr>
                            <div class="text-center">
                                <p class="small">Already have an account?<a asp-controller="Login" asp-action="Index"> Sign in</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

@section Scripts {
    <script type="text/javascript" src="~/js/register.js"></script>
}