@{ ViewData["Title"] = "Ticket";
    Layout = "_Layout"; }
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Tickets</h1>

</div>

<div class="row">
    <div class="col">
        <table id="ticketTable" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>NO</th>
                    <th>PROBLEM</th>
                    <th>NAME</th>
                    <th>PRIORITY</th>
                    <th>STATUS</th>
                    <th>ACTION</th>
                </tr>
            </thead>
        </table>



        <div class="modal fade" id="modalEscalation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ticket Escalation</h5>
                        <button type="button" class="close" onclick="closeEscalationModal()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="priority">Priority</label>
                                    <select id="priorityId" class="custom-select" required>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" id="ticketData">
                        <button type="button" class="btn btn-secondary" onclick="closeEscalationModal()">Cancel</button>
                        <button type="submit" class="btn btn-success">Confirm</button>
                    </div>
                </div>
            </div>
        </div>

        @*Modal Done*@
        <div class="modal fade" id="modalDone" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ticket Problem Clear</h5>
                        <button type="button" class="close" onclick="closeDoneModal()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            Apakah Tiket dengan ID=
                            <span id="doneTicket"></span>
                            Sudah Terselesaikan?
                        </div>
                    </div>
                    <div class="modal-footer" id="doneData">
                        <button type="button" class="btn btn-secondary" onclick="closeDoneModal()">Cancel</button>
                        <button type="submit" class="btn btn-success">Confirm</button>
                    </div>
                </div>
            </div>
        </div>

        @*Modal Report*@
        <div class="modal fade" id="modalReport" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ticket Report</h5>
                        <button type="button" class="close" onclick="closeReportModal()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            Apakah Anda Ingin Mengirimkan Report dari Tiket dengan ID=
                            <span id="reportTicket"></span>
                            ?
                        </div>
                    </div>
                    <div class="modal-footer" id="ReportData">
                        <button type="button" class="btn btn-secondary" onclick="closeReportModal()">Cancel</button>
                        <button type="submit" class="btn btn-success">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript" src="~/js/help_desk.js"></script>
}
