@{
    ViewData["Title"] = "Change";
    Layout = "_Layout_Auth";
}


<div class="row justify-content-center d-flex align-items-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-login-image">

                    </div>
                    <div class="col-lg-7">
                        <div class="alert alert-danger alert-dismissible fade show mx-2 my-2" id="forgot-alert-danger" style="display:none;">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <span id="alert-text-danger"> </span>
                        </div>

                        <div class="alert alert-success alert-dismissible fade show mx-2 my-2" id="forgot-alert-success" style="display:none;">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <span id="alert-text-success"> </span>
                        </div>
                        <div class="p-5">
                            <div class="text-left mb-4">
                                <h1 class="h4 text-gray-900">Reset password.</h1>
                                <small>Set your new password.</small>
                            </div>
                            <form class="user" id="reset">
                                <div class="form-group">
                                    <input type="email" name="Email" class="form-control form-control-user"
                                           id="email" aria-describedby="emailHelp"
                                           placeholder="Email" required>
                                </div>

                                <div class="form-group">
                                    <input type="password" name="Password" class="form-control form-control-user"
                                           id="password" aria-describedby="passwordHelp"
                                           placeholder="Password" required>
                                </div>

                                <div class="form-group">
                                    <input type="number" name="otpCode" class="form-control form-control-user"
                                           id="otpCode" aria-describedby="otpCodeHelp"
                                           placeholder="Code OTP" required>
                                </div>

                                <button type="submit" onclick="ValidationOTP()" class="btn btn-primary btn-user btn-block">
                                    UPDATE
                                </button>

                            </form>
                            <hr>
                            <div class="text-center">
                                <p class="small">Did you remembered your password?<a asp-controller="Login" asp-action="Index"> Try Sign in</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

@section Scripts {
    <script type="text/javascript" src="~/js/reset_password.js"></script>
}