@{
    ViewData["Title"] = "Message";
    Layout = "_Layout";
}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800" id="ticket-id"></h1>
</div>
<div class="row">
    <div class="card shadow col">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <div id="userfullname"></div>
              
            </div>
            <div class="d-flex justify-content-start">
                <p id="message" class="p-2">
                </p>
            </div>
            <div id="detail-message"></div>
            <div class="row">
                <div class="col">
                    <form id="formTicket" class="needs-validation" novalidate>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="message"></label>
                                <textarea class="form-control" placeholder="Send message" id="messageText" rows="3" required></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Send</button>
                        </div>
                    </form>
                </div>
            </div>


        </div>
    </div>
</div>

<!-- Modal Create Ticket -->
<div class="modal fade" id="modalCreateTicket" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Message</h5>
                <button type="button" class="close" onclick="closeTicketModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form id="formTicket" class="needs-validation" novalidate>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="message">Message</label>
                                <textarea class="form-control" id="messageText" rows="3" required></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" onclick="closeTicketModal()">Cancel</button>
                            <button type="submit" class="btn btn-primary">Send</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>



@section Scripts {
    <script type="text/javascript" src="~/js/detail_message.js"></script>
}

